$color-red : #d45e5e;
$color-red-light : #e27878;
$color-white : #ffffff ;
$color-black : black;
$color-background-pen : #f1eded;
$color-background-point :#d0d0d0;
$fontBebas: 'Bebas Neue', sans-serif;
$fontPTSans: 'PT Sans', sans-serif;
$fontHN : "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontCambria : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;