@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 160px 0 148px;
}

.logo {
  white-space: nowrap;
}
.logo h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36.5pt;
}
.logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5pt;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.menu ul li a {
  padding: 70px 10px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16.5pt;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.menu ul li a:hover {
  background-color: #d45e5e;
  color: #ffffff;
}

.title {
  margin: auto;
  text-align: center;
  padding-top: 75px;
}

.quote {
  background-color: #ffffff;
}
.quote i {
  font-size: 60.5pt;
}
.quote p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22.5pt;
  font-style: italic;
  padding: 30px 0;
}

.pen {
  position: relative;
  z-index: -1;
}
.pen p {
  height: 1px;
  background-color: #f1eded;
}
.pen h3 {
  position: relative;
  top: -20px;
  height: 30px;
  background-image: radial-gradient(#e0e0e0 5%, transparent 60%);
}
.pen img {
  position: relative;
  top: -70px;
}

.portfolio {
  padding: 0 162px 0 184px;
}
.portfolio p {
  font-size: 20pt;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 40px;
}

.image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 0;
}

.man {
  position: relative;
  top: 88px;
  padding: 0 0 0 182px;
}
.man img {
  border: 7px solid #ffffff;
}

.footer {
  padding: 16px 0 45px 182px;
  background-color: #d45e5e;
  color: #ffffff;
  display: flex;
}

.person {
  width: 50%;
}

.name {
  padding: 0 0 0 165px;
}
.name h3 {
  font-size: 20pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 10px;
  white-space: nowrap;
}

.information {
  display: flex;
  justify-content: space-between;
}

.icons {
  padding-top: 30px;
  display: flex;
  gap: 20px;
}
.icons i {
  font-size: 40px;
}
.icons p {
  display: none;
}

.local {
  display: inline-flex;
  gap: 10px;
  white-space: nowrap;
}

.content {
  padding-top: 30px;
}
.content p {
  font-family: "PT Sans", sans-serif;
  font-size: 8.6pt;
}

.mySkill {
  width: 50%;
  padding: 26px 0 0 75px;
}
.mySkill p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24.5pt;
}

.skill {
  padding-top: 20px;
  display: grid;
}
.skill div {
  display: flex;
}
.skill p {
  font-family: "PT Sans", sans-serif;
  font-size: 14.5pt;
  font-weight: lighter;
  padding-right: 8px;
}
.skill h2 {
  position: relative;
  top: 8px;
  width: 200px;
  height: 10px;
  background-color: #e27878;
}
.skill h3 {
  position: relative;
  top: 8px;
  left: -200px;
  height: 10px;
  background-color: black;
  margin-right: -200px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 30px 100px 0 100px;
  }
  .portfolio {
    padding: 0 100px 0 100px;
  }
  .portfolio p {
    font-size: 20pt;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-bottom: 40px;
  }
  .image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 0;
  }
  .person {
    width: 50%;
  }
  .footer {
    padding: 16px 0 45px 100px;
  }
  .man {
    padding: 0 0 0 100px;
  }
  .icons i {
    font-size: 18pt;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding: 30px 0 0 35px;
    display: grid;
  }
  .menu {
    padding-top: 20px;
  }
  .menu ul {
    gap: 10px;
  }
  .menu ul li a {
    padding: 10px;
    font-size: 10pt;
  }
  .point {
    position: relative;
    top: -50px;
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
  }
  .title {
    margin: auto;
    text-align: center;
    padding-top: 45px;
  }
  .quote {
    background-color: #ffffff;
  }
  .quote i {
    font-size: 40.5pt;
  }
  .quote p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 11pt;
    font-style: italic;
    padding: 30px 0;
  }
  .portfolio {
    padding: 0 0 0 35px;
  }
  .portfolio p {
    font-size: 20pt;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-bottom: 40px;
  }
  .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .image img {
    width: 90%;
    height: auto;
  }
  .no {
    display: none;
  }
  .man {
    padding: 0 0 0 35px;
  }
  .footer {
    display: grid;
    padding: 16px 0 45px 35px;
  }
  .person {
    width: 100%;
  }
  .content {
    margin-top: -50px;
  }
  .content p {
    font-size: 7.6pt;
  }
  .information {
    display: grid;
  }
  .icons {
    position: relative;
    top: 135px;
  }
  .icons i {
    font-size: 28pt;
  }
  .icons div {
    display: inline-flex;
    gap: 20px;
  }
  .icons p {
    position: relative;
    top: -5px;
    display: block;
    font-size: 18px;
  }
  .mySkill {
    width: 100%;
    padding: 120px 0 0 0;
  }
  .point1 {
    position: relative;
    top: -230px;
    height: 1px;
    background-color: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */