<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-size: 30px;
        }
        body {
            margin: 40px 0 0 40px;
        }
    </style>
</head>
<body>
<form action="5" method="get" >
    <input type="number" name="number" min="0" style="font-size: 17px">
    <input type="submit" value="Ve tam giac" style="font-size: 17px">
</form>

</body>
</html>