<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 20px;
        }

        body {
            margin: auto;
            text-align: center;
        }

        table, td,th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<!--    <form action="2" method="get">-->
<!--        <input type="text" name="name">-->
<!--        <input type="submit" value="Submit">-->
<!--    </form>-->
</body>
</html>